.protocols {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.protocols form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.protocols div {
    margin: 2px 0;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.protocols input {
    margin: 2px 0;
}