@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
  background: #f5f5f5;

}


body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
   word-wrap: break-word;
}

span {
  word-wrap: break-word;
}