@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

html, body, #root{
  height: 100%;
  background: #c9ddc7;
  -webkit-font-smoothing: antialiased !important;


}


body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
  font-family:'Fredericka the Great','Roboto', Arial, Helvetica, sans-serif;

}

p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
   word-wrap: break-word;
}

span {
  word-wrap: break-word;
}

card {
    
  padding-right: 40px;

}
img#navuser{
  box-shadow:0px 0px 5px 1px #0008;
  border-radius: 50px;
}

img#navuser:hover{
  transform: scale(1.2);
  transition: all .3s;
  cursor: pointer;
}

div#divnavbar{
  font-family:'Fredericka the Great','Roboto', Arial, Helvetica, sans-serif;
}
div#divuser{
  cursor: pointer;
  font-family:'Fredericka the Great','Roboto', Arial, Helvetica, sans-serif;
}
div#divuser:hover{
  font-family:'Fredericka the Great','Roboto', Arial, Helvetica, sans-serif;
  transform: scale(1.2);
  transition: all .3s;
}
div#divscore{
  font-family:'Fredericka the Great','Roboto', Arial, Helvetica, sans-serif;
}

div#grade{

  margin: 10px;
  width: 240px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px;
}
div#divbutton:hover{
  transform: scale(0.98);
  transition: all .3s;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 0px;

}
div#divbutton{
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 3px;

}
div#grade:hover{

  transform: scale(1.03);
  transition: all .3s;

}

  



div#gradao{

display: row;
}

label#margin{
  margin: 50px;
}


@media (max-width: 650px) {

  div#divscore:hover{
    transform: scale(1.15);
    transition: all .3s;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  div#divusermain{
    margin-top: 40px;
    margin-bottom: 20px;
  }

  label#margin{
    margin: 13px;
  }

  card {
    
    flex-direction: column-reverse;
    align-items: center;
    padding-right: 0px;

  }
article{ 
  flex-direction: column;
  align-items: flex-start;

}
article Button {
  margin-left: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
}

div#gradao{

  justify-content: center;
  

}
div#grade{
 flex-direction: column;
 vertical-align: center;
 width: 100%;


}



  *{
flex-direction: flex;
 
  }

}